.lianxi {
	font-size:15px;
	bottom:-15px;
	width:100%;
	position:fixed;
	text-align:center;
	color:white;
	font-weight:bold;
	text-decoration:none;
}
.lianxi1 {
    position: fixed;
    bottom: 2px;
    width:100%;
	text-align:center;
	font-size:15px;
	color:white;
	font-weight:bold;
}
#tit {
    font-size: 60px;
	
}
.title {
    margin-top: 20%;
    width: 100%;
}
